.comment {
    width: 700px;
    margin: 20px auto 0px auto;
}

.comment-text-area {
    width: 700px;
}

.text-area {
    width: 680px;
    max-width: 680px;
    max-height: 150px;
    border: 5px #ebebeb solid;
    height: 150px;
    overflow: hidden;
    padding: 5px 5px 5px 5px;
    color: #999999;
}

.text-area-input-length {
    font-size: 12px;
    line-height: 30px;
}

.text-area-input-length span {
    margin: 0px 5px 0px 5px;
    color: red;
}

.text-area-bottom {
    text-align: right;
    margin: 5px 0px 0px 0px;
    float: right;
    padding: 0px 0px 0px 0px;
}

.text-area-bottom a {
    border: #ebebeb 2px solid;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
}

.text-area-star {
    overflow: hidden;
    text-align: center;
}

.text-area-star label {
    float: left;
    line-height: 35px;
    height: 35px;
    font-size: 12px;
    margin: 0px 10px 10px 0px;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    border: 1px solid #ebebeb;
}

.red {
    color: red;
    border: 1px solid red !important;
}

.text-area-star label input {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
}

.text-area-star label span {
    padding: 10px 10px 10px 10px;
    position: relative;
}



*{margin:0;padding:0;list-style-type:none;}
body{color:#666;font:12px/1.5 Arial;}
/* star */
#star{position:relative;width:600px;margin:0 0 20px 0;height:24px;}
/*#star{position:relative;width:600px;height:24px;}*/
#star ul,#star span{float:left;display:inline;height:19px;line-height:19px;}
#star ul{margin:0 10px;}
#star li{float:left;width:24px;cursor:pointer;text-indent:-9999px;background:url(../Images/star.png) no-repeat;}
#star strong{color:#f60;padding-left:10px;}
#star li.on{background-position:0 -28px;}
#star p{position:absolute;top:20px;width:159px;height:60px;display:none;background:url(../Images/icon.gif) no-repeat;padding:7px 10px 0;}
#star p em{color:#f60;display:block;font-style:normal;}